html, body{
	padding: 0;
	min-height: 100%;
	margin: 0;
	font-family: 'Abel', sans-serif;
}

.svg-vicky-warpper{
	position: absolute;
	 top: 45%;
	 left: 25%;
	transform: translate(-50%, -50%); 
	width: 30%;
}
.svg-erni-warpper{
	position: absolute;
	 top: 45%;
	 left: 90%;
	transform: translate(-50%, -50%); 
	width: 30%;
}

path{
	stroke: #fff;
	fill:#fff;
	stroke-dasharray: 1800;
	opacity: 10;
	animation: animate 1.5s cubic-bezier(0, 0.23, 1, .1);
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 1800;
	}
	30% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 1800;
	}
	90% {
		fill: rgba(255, 255, 2555, 0);
	}
	100% {
		opacity: 10;
		fill: rgba(255, 255, 2555, 0);
		stroke-dashoffset: 0;
	}
}

.date-big-screen{
	display: block!important;
}

.date-mobile-only{
	display: none!important;
}

.time-big-screen{
	display: block!important;
}

.time-mobile-only{
	display: none!important;
}
 #map {
height: 100vh;
width: 100%;
}
.section{
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
	overflow: hidden;
}

.wedding-names{
	line-height: 100vh;
	font-size: 6em;

	background-size: cover;
}

.bride-names{ 
	font-size: 4em;
	position: relative;
	font-family: 'Niconne', cursive;
	padding: 0;
	margin: 0;
 }

 .brides-group{
 	position: relative;
 }

 .bride-nick-names{ 
	font-size: .5em!important;
	position: absolute;
	top: -20px;
	right: 770px;

 }

 .bride-parents{
 	position: absolute;
 	top: 0;
 	margin-top:70px;
 	padding:0;
 	display: block;
 	width: 100%;
 	text-align: center;
 }

.wedding-details{
	margin: 0 auto !important;
	padding: 10px !important;
	
}
.wedding-location{
	background-color: #515F41;
	color: #fff;
	position: relative;
}

.wedding-location p{
	margin: 0;
	padding: 0;
	font-size: 2em;
	position: absolute;
	top: 30px;
	z-index: 100;
	color: black;
	width: 100%;

}
.wedding-thanks{
	line-height: 100vh;
	font-size: 6em;
	font-family: 'Niconne', cursive;

}

.detail-container{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	min-height: 100%;
	height: 100%;
}

.detail{
	float: left;
	width: calc(98vw/3);
}

.button-container{
	position: fixed; 
	bottom: 0;
	right: 0;
}

.main-button{
	text-decoration: none;
	border-radius: 50px;
	width: 80px;
	height: 80px;
	background-color: #EE5F5F;
	display: block;
	position: relative;
	right:20px;
	bottom:20px;
	z-index:2;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-button:hover{
	background-color: #CE5454;
}

.main-button:hover span{
	background-color: #A12E2E;
}
.main-button span{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 20px;
	background-color: #B93434
}

.cover-button{
	position: absolute;
	top:-5px;
	right:35px;
	background-color:#B93434;
	border-radius:50px;
	width:50px;
	height:50px;
	line-height:50px;
	font-size: 1.5em;
	color: #fff;
	text-align:center;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.detail-button{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
	top:-5px;
	right:35px;
	text-align:center;
	line-height:50px;
	background-color:#B93434;
	border-radius:50px;
	width:50px;
	height:50px;
	font-size: 1.5em;
	color: #fff;
}

.location-button{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-align:center;
	line-height:50px;
	position: absolute;
	top:-5px;
	right:35px;
	background-color:#B93434;
	border-radius:50px;
	width:50px;
	height:50px;
	display:block;
	color: #fff;
	font-size: 1.5em;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
	img{
		max-width: 310%;
		height: auto;
	}

	.svg-vicky-warpper{
		position: absolute;
		 top: 8%;
		 left: 32%;
		transform: translate(-50%, -50%); 
		width: 30%;
	}
	.svg-erni-warpper{
		position: absolute;
		 top: 8%;
		 left: 84%;
		transform: translate(-50%, -50%); 
		width: 30%;
	}

	.parallax{
		height: 100%;
		width: 110%;
	}
	.bride-names{ 
		font-size: 3em;
	}
	.section{
		min-height: 100%;
		height: 100%; 
		 display: block;
	}

	.detail{
		float:none;
		width: 100%;
		overflow: hidden;
		padding: 0!important;
	}

	.detail-container{
		font-size: 1em !important;
		overflow: none;
	}

	.wedding-thanks{
		font-size: 1.5em;
		text-align: center;
	}

  	.bride-nick-names{ 
		font-size: .5em!important;
		right: 20px;
	 }

	  
	 .bride-parents{
	 	margin: 50px 0 0!important;
	 	font-size: .95em!important;
	 }
		
	.detail-container{
		overflow: hidden!important;
	}
	 .detail-container .detail div{
	 	float: none!important;
	 	font-size: 1.5em!important;
	 	margin-right: 5px;

	 	font-weight: bold!important;
	 	letter-spacing: normal!important;
	 }
	
	.detail-container .detail:nth-child(2){
	 	font-size: 1em!important;
	 	overflow: hidden;
	 }

	 .detail-container .detail:nth-child(3){
	 	font-size: .9em!important;
	 	overflow: hidden;
	 	height: 60px;
	 }

	 .detail-container .detail:nth-child(3) div{
	 	height: 1em;
	 }
	 .date-big-screen{
	 	display: none!important;
	 }

	 .date-mobile-only{
	 	display: block!important;
	 	font-size: 1.5em!important;
	 	text-align: center;
	 }

	 .time-big-screen{
	 	display: none!important;
	 }

	 .time-mobile-only{
	 	font-size: 1.5em!important;
	 	text-align: center !important;
	 	display: block!important;
	 	
	 }

}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
	img{
		max-width: 310%;
		height: auto;
	}
	
	.svg-vicky-warpper{
		position: absolute;
		 top: 8%;
		 left: 32%;
		transform: translate(-50%, -50%); 
		width: 30%;
	}
	.svg-erni-warpper{
		position: absolute;
		 top: 8%;
		 left: 84%;
		transform: translate(-50%, -50%); 
		width: 30%;
	}
	.bride-names{ 
		font-size: 3em;
	}
	.section{
		min-height: 100%;
		height: 100%;
		display: block;
	}

	.detail{
		float:none;
		width: 100%;
		overflow: hidden;
		padding: 0!important;
	}

	.detail-container{
		font-size: 1em !important;
		overflow: none;
	}

	.wedding-thanks{
		font-size: 1.5em;
		text-align: center;
	}

  	.bride-nick-names{ 
		font-size: .5em!important;
		right: 20px;
	 }

	  
	 .bride-parents{
	 	margin: 50px 0 0!important;
	 	font-size: .95em!important;
	 }
		
	.detail-container{
		overflow: hidden!important;
	}
	 .detail-container .detail div{
	 	float: none!important;
	 	font-size: 1.5em!important;
	 	margin-right: 5px;
	 	font-weight: bold!important;
	 	letter-spacing: normal!important;
	 }
	
	.detail-container .detail:nth-child(2){
	 	font-size: 1em!important;
	 	overflow: hidden;
	 }

	 .detail-container .detail:nth-child(3){
	 	font-size: .9em!important;
	 	overflow: hidden;
	 	height: 60px;
	 }

	 .detail-container .detail:nth-child(3) div{
	 	height: 1em;
	 }
	 .date-big-screen{
	 	display: none!important;
	 }

	 .date-mobile-only{
	 	display: block!important;
	 	font-size: 1.5em!important;
	 	text-align: center;
	 }

	 .time-big-screen{
	 	display: none!important;
	 }

	 .time-mobile-only{
	 	font-size: 1.5em!important;
	 	text-align: center !important;
	 	display: block!important;
	 }
 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
	.bride-names{ 
		font-size: 3em;
	}
	.section{
		min-height: 100%;
		height: 100%;
		display: block;
	}

	.detail{
		float:none;
		width: 100%;
		overflow: hidden;
		padding: 0!important;
	}

	.detail-container{
		font-size: 1em !important;
		overflow: none;
	}

	.wedding-thanks{
		font-size: 1.5em;
		text-align: center;
	}

  	.bride-nick-names{ 
		font-size: .5em!important;
		right: 20px;
	 }
	  
	 .bride-parents{
	 	margin: 50px 0 0!important;
	 	font-size: .95em!important;
	 }
		
	.detail-container{
		overflow: hidden!important;
	}
	 .detail-container .detail div{
	 	float: none!important;
	 	font-size: 1.5em!important;
	 	margin-right: 5px;
	 	font-weight: bold!important;
	 	letter-spacing: normal!important;
	 }
	
	.detail-container .detail:nth-child(2){
	 	font-size: 1em!important;
	 	overflow: hidden;
	 }

	 .detail-container .detail:nth-child(3){
	 	font-size: .9em!important;
	 	overflow: hidden;
	 	height: 60px;
	 }

	 .detail-container .detail:nth-child(3) div{
	 	height: 1em;
	 }
	 .date-big-screen{
	 	display: none!important;
	 }

	 .date-mobile-only{
	 	display: block!important;
	 	font-size: 1.5em!important;
	 	text-align: center;
	 }

	 .time-big-screen{
	 	display: none!important;
	 }

	 .time-mobile-only{
	 	font-size: 1.5em!important;
	 	text-align: center !important;
	 	display: block!important;
	 }
	 .parallax-container{
		position: relative;
		overflow: hidden;
		height: 500px;
	 }
	

}

